:root {
    --grid-dimension: 1;
  }


div {
    
    display: grid;
    grid-template-columns: repeat(var(--grid-dimension), 1fr);
    grid-template-rows: repeat(var(--grid-dimension), 1fr);   
    width: 25px;
    height: 25px;
    border: 1px solid blue;
    padding: 0px;
    margin: 0px;
    
}